In [1]:
import pandas as pd
import numpy as np
import itertools

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
!ls

README.md                 scac.csv
all_stocks_5yr.csv        stock-fraud-predict.ipynb

In [3]:
df = pd.read_csv('scac.csv')

In [4]:
df.head()

,filing_name,filing_date,district_court,exchange,ticker
0,"ILG, Inc.",07/06/2018,D. Delaware,NASDAQ,ILG
1,KLX Inc.,07/06/2018,D. Delaware,NASDAQ,KLXI
2,Triangle Capital Corporation,07/06/2018,E.D. North Carolina,New York SE,TCAP
3,Vectren Corporation,07/05/2018,S.D. Indiana,New York SE,VVC
4,DCT Industrial Trust Inc.,07/02/2018,D. Colorado,New York SE,DCT

In [5]:
df1 = pd.read_csv('all_stocks_5yr.csv')

In [6]:
df1.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL